#header{

    background-image: linear-gradient(to right, rgba(40, 48, 72, 0.959), #8593981c) ,url(../../../assets/images/imagenproducto1.jpg);
    height: 400px;

}


h1{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    position: relative;
    top: 30%;
    margin-left:20%
}


span{

    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    top: 25%;
    margin-left: 20%;
}


h2{

    color: #fd9f12;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    position: relative;
    top: 22%;
    margin-left: 20%
}

#btnpro{
      margin-left: 63%;
      position: relative;
      top: 40px;
}

#posicion{

    margin-top: 50px;

}
/* car */

